.box {
	text-align: center;
	.one {
		background-color:lavenderblush;
		padding: 50px;
	}
	.two {
		padding: 50px;
		background-color:lavender;
	}
	.three {
		padding: 250px 50px;
		background-color: #fff5ba;
	}	
	.four {
		padding: 250px 50px;
		background-color: #aff8d8;
	}
}